<h2>{{item.name}}</h2>
<br>
<div class="row">
  <div class="col-sm-8">
    <img class="detail-image" src="{{item.image}}">
  </div>

  <div class="col-sm-4">
    <h3>${{item.price}}</h3>
    <br>
    <h4>{{item.description}}</h4>
    <br>
    <button {{action 'addToCart' item}} class="waves-effect waves-light btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
  </div>
</div>



<div class="row all-feedback-box">
  <h5 class="feedback-header">Feedback For This Item</h5>
  {{#each item.feedbacks as |feedback|}}
  {{feedback-tile feedback=feedback}}
  {{/each}}
</div>

{{new-feedback saveFeedback="saveFeedback" item=item}}
